click
confusable-homoglyphs
Django=1.11.7
django-registration
django-registration-redux
first
pip-tools
pytz
six
virtualenv
gunicorn
pymongo
requests
urllib3
dj-database-url
celery
django-celery
xmljson
redis
amqp
celery
celery-with-redis
