confusable-homoglyphs
django==1.11
django-registration
django-registration-redux
django-celery
first
pip-tools
pytz
six
gunicorn
requests
urllib3
dj-database-url
celery
redis
amqp
Jinja2
easygui
kombu
