
{% load staticfiles %}
{% load static %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
	<meta http-equiv="Content-Style-Type" content="text/css" />

	<title>
		Práctica 7
	</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</head>

<script>
		function llamar_ajax_array(){
			$.ajax({
				url: 'https://www.ebi.ac.uk/arrayexpress/json/v3/experiments?keywords=cancer&species="homo%20sapiens"&samplecount=[1%20TO%202]',
        type: 'GET',
        dataType : 'json',
				success: function(datos) {
					alert(JSON.stringify(datos));
				},
				failure: function(datos) {

					alert('esto no vá');
				}
			});
};

function llamar_ajax_ncb(){
  $.ajax({
    url: 'https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=pubmed&term=cancer&reldate=60&datetype=edat&retmax=10000&usehistory=y',
    type: 'GET',
    dataType : 'json',
    success: function(datos) {
      alert(JSON.stringify(datos));
    },
    failure: function(datos) {

      alert('esto no vá');
    }
  });
};
    </script>
<body>
<p>
Probando los json
</p>

					<ul class="pagination" >
						<li onclick="llamar_ajax_ncb()"><a href="javascript:void(0);">1</a></li>
						</ul>
</body>
