
{% load staticfiles %}
{% load static %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
	<meta http-equiv="Content-Style-Type" content="text/css" />

	<title>
		Buscador
	</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% block contenido %}
<body>
	<div class="container" style="margin-top: 5%;">
	    <div class="col-md-6 col-md-offset-3">

	        <!-- Search Form -->
	        <form role="form" action="{% url 'buscarDatos' %}" method="post" >
	        {% csrf_token %}
	        <!-- Search Field -->
	            <div class="row">
	                <h1 class="text-center">Buscador médico</h1>
	                <div class="form-group">
	                    <div class="input-group">
	                        <input class="form-control" type="text" name="search" id="search" placeholder="Buscar" required/>
	                        <span class="input-group-btn">
	                            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"><span style="margin-left:10px;">Search</span></button>
	                        </span>
	                        </span>
	                    </div>
	                </div>
	            </div>

	        </form>
	        <!-- End of Search Form -->
{% endblock %}
	    </div>
	</div>
</body>
</html>
