
{% extends "index.html" %}

{% block body %}

{% block contenido %}
<script>
	var datos_recibidos;
	var n_muestras=20;
	llamar_ajax();
	function llamar_ajax(){
		var url =  "{% url 'recibirDatos' %}";
	 $.ajax({
		 url: url,
		 type: 'GET',
		 dataType : 'json',
		 success: function(datos) {
			 datos_recibidos=datos;
			 Visualiza_filas (0 , n_muestras);
		 },
		 failure: function(datos) {
			 alert('esto no vá');
		 }
	 });
 };
	 function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
};
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
};
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

	 function enviarFTP(){
		 enlace=document.getElementById("enlace").text;
		 /*var url = 
		 $.ajax({
    // la URL para la petición
    url : url,
    data : { enlace : enlace },
    type : 'POST',
    dataType : 'json',
    success : function(json) {
        alert("comenzando la descarga")
    },

    error : function(xhr, status) {
        alert('No se pudo establecer conexión');
    }
});*/
};

		function Visualiza_filas (inicio, fin) {
				 $(function () {
							var content = '';
							var ul='';
							//content += '<tbody>'; -- **superfluous**finf
								for (var index = inicio; (index < datos_recibidos.length) && (index < fin) ; index++) {
							content += '<tr>'
							content += '<td>'+(index+1);
				content+='</td>';
							content += '<td>'+datos_recibidos[index]['id'];
				content+='</td>';
							content += '<td>'+datos_recibidos[index]['accession'];
				content+='</td>';
							content += '<td>'+datos_recibidos[index]['name'];
				content+='</td>';
							content += '<td>'+datos_recibidos[index]['releasedate'];
				content+='</td>';
							content += '<td>'+datos_recibidos[index]['description'];
				content+='</td>';
							content += '<td>'+datos_recibidos[index]['bd'];
				content+='</td>';
							content += '<td> <a  method="po" id="enlace">'+datos_recibidos[index]['descarga'];
				content+='</a>';
				content+='</td>';
							content += '</tr>';

								}

						 // content += '</tbody>';-- **superfluous**
							//$('table tbody').replaceWith(content);  **incorrect..**
							$("#acrylic tbody").html(content);  // **better. give the table a ID, and replace**
				 });


			};
		function paginador(fila_inicio){
				Visualiza_filas(fila_inicio, fila_inicio+n_muestras);
		};
		function abrirCarpetaDescarga(){
	 			enlace=document.getElementById("enlace").text;
				windows.open(enlace, '_blank');
		};


	</script>
	<?php
	echo "aqui";
	$ftp_server = "ftp.ncbi.nlm.nih.gov";
$ftp_conn = ftp_connect($ftp_server) or die("Could not connect to $ftp_server");
$login = ftp_login();
	$id_ftp=ConectarFTP(); //Obtiene un manejador y se conecta al Servidor FTP
	$lista=ftp_nlist($id_ftp,$_POST["enlace"]); //Devuelve un array con los nombres de ficheros
	while ($item=array_pop($lista)) //Se leen todos los ficheros y directorios del directorio
	{
		echo "Archivo $item";

	}
	ftp_close($ftp_conn);
	?>
<div class="container">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="width: 80%">
			<h1 class="page-header">Experimentos</h1>
			<div class="table-responsive">
				<table class="table" id="acrylic">
					<thead>
						<tr>
							<th>nº</th>
							<th>identificador</th>
							<th>accession</th>
							<th>name</th>
							<th>releasedate</th>
							<th>description</th>
							<th>bd</th>
							<th>descarga</th>
						</tr>
					</thead>

					<ul class="pagination" >
						<li onclick="paginador(0)"><a href="javascript:void(0);">1</a></li>
						<li onclick="paginador(20)"><a href="javascript:void(0);">2</a></li>
						<li onclick="paginador(40)"><a href="javascript:void(0);">3</a></li>
						<li onclick="paginador(60)"><a href="javascript:void(0);">4</a></li>
						<li onclick="paginador(80)"><a href="javascript:void(0);">5</a></li>
						<li onclick="paginador(100)"><a href="javascript:void(0);">6</a></li>
						<li onclick="paginador(120)"><a href="javascript:void(0);">7</a></li>
						<li onclick="paginador(140)"><a href="javascript:void(0);">8</a></li>
					</ul>

					<tbody>


								</tbody>
							</table>
						</div>
					</div>
					</div>

{% endblock %}
{% endblock %}
